<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <title>Stratcom | About Us</title>
</head>
<body>
    <div class="main">
        <div>
            <h1>About Us</h1>
            <p>Stratcom Communications and Computer Solutions Ltd, is a registered IT Company in Uganda that offers a range of computer services such as Computer skills training, IT internship, Home & office Networking, IT support, Web and Software development, IT Consultancy, Computer Training (All levels), and IT business activities. We also supply stationery and computer accessories</p>
        </div>
    </div>
    <div class="mission">
        <div>
            <h4>Mission</h4>
            <p>Hello Stratcomites, the internship dinner is on. Just like this post and comment. Internship@Stratcom</p>
        </div>
        <div>
            <h4>Vision</h4>
            <p>Hello Stratcomites, the internship dinner is on. Just like this post and comment. Internship@Stratcom</p>
        </div>
        <div>
            <h4>Core Values</h4>
            <p>Hello Stratcomites, the internship dinner is on. Just like this post and comment. Internship@Stratcom</p>
        </div>
    </div>
    <div class="team">
        <h4>Meet the Team</h4>
        <div>
            <img src="{% static 'images/person.jpg' %}" alt="p1">
            <figcaption>Name of the person</figcaption>
            <p>Title: C.E.O</p>
            <p>Tel: +256-787-270058</p>
            <p>kingo@gmail.com</p>
        </div>
        <div>
            <img src="{% static 'images/person.jpg' %}" alt="p1">
            <figcaption>Name of the person</figcaption>
            <p>Title: C.E.O</p>
            <p>Tel: +256-787-270058</p>
            <p>kingo@gmail.com</p>
        </div>
        <div>
            <img src="{% static 'images/person.jpg' %}" alt="p1">
            <figcaption>Name of the person</figcaption>
            <p>Title: C.E.O</p>
            <p>Tel: +256-787-270058</p>
            <p>kingo@gmail.com</p>
        </div>
        <div>
            <img src="{% static 'images/person.jpg' %}" alt="p1">
            <figcaption>Name of the person</figcaption>
            <p>Title: C.E.O</p>
            <p>Tel: +256-787-270058</p>
            <p>kingo@gmail.com</p>
        </div>
    </div>
</body>
</html>